@media (max-width: 768px) {
    .grid {
        margin: 0;
        padding: 0;
    }
    
    .pl-10, .pr-5, .py-5 {
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .my-5 {
        margin-top: 2vw;
        margin-bottom: 0vw;
    }
   
    input, textarea, select {
        width: 100%;
    }
    .flex {
        flex-direction: column;
    }
    
   
}
